@media only screen and (max-width: 600px) /*mobile styles*/
{
    .allProductsTop
    {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        width: 100%;
        padding: 0;
        align-items: center;
        justify-items: center;
        grid-row-gap: 20px;
    }
}