body
{
  background-color: whitesmoke;
  margin: 0;
}

.featuredProduct
{
  background-color: black;
  color: whitesmoke;
}

.footer
{
  background-color: grey;
  width: 100%;
  padding: 1%;
}

@media only screen and (min-width: 600px)
{
  .featuredProduct
  {
    display: grid;
    grid-template-columns: 100px 200px auto;
  }
  .featuredProductImage
  {
    grid-column: 2/3;
  }
  .featuredProductText
  {
    grid-column: 3/4;
  }
  .footer
  {
    display: grid;
    grid-template-columns: [farLeft] 50% [mid] 50% [farRight];
  }
  .aboutSection
  {
    grid-column-start: [farLeft];
    grid-column-end: [mid];
  }
  .contact
  {
    grid-column-start: [mid];
    grid-column-end: [farRight];
  }
}